.content .header {
  margin-bottom: var(--space-2xl);
}

.modal .content {
  padding: var(--space-2xl);
  border-radius: var(--space-xl);
}

.content :global .ant-modal-close {
  top: calc(var(--space-2xl));
  right: calc(var(--space-2xl));
}

.content .closeBtn {
  width: 24px;
  height: 24px;
}

.content .closeBtn svg {
  width: 100%;
  height: 100%;
}
